<main class="mt-20 ">

  <div>
    <h1 class="text-center text-3xl font-semibold text-gray-800 dark:text-white mb-2">Panel Admin</h1>
    <p class="px-20 text-gray-600 dark:text-gray-300">Lista de enfermedades</p>
  </div>

  <div class="relative overflow-x-auto">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Cod CIE
                </th>
                <th scope="col" class="px-6 py-3">
                    Nombre
                </th>
                <th scope="col" class="px-6 py-3">
                    Agente
                </th>
                <th scope="col" class="px-6 py-3">
                    Price
                </th>
            </tr>
        </thead>
        <tbody>
            @for (enfermedad of enfermedades; track enfermedad) {
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        {{enfermedad.cod_cie}}
                    </th>
                    <td class="px-6 py-4">
                        {{enfermedad.nombre}}
                    </td>
                    <td class="px-6 py-4">
                        {{enfermedad.agente_etiolog}}
                    </td>
                    <td class="px-6 py-4">
                        {{enfermedad.nombres}}
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


</main>

<ngx-ui-loader bgsColor="#ffcc48" text="Espere un momento..." pbColor="#b12bf7" fgsType="square-jelly-box"></ngx-ui-loader>
